<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #dfdede;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px;
        }

        .post-card {
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 20px;

            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .user {
            font-weight: bold;
            color: #007bff;
        }

        .post-content {
            color: #555;
            margin-top: 10px;
        }

        .post-actions {
            margin-top: 10px;
        }

        .post-actions a {
            margin-right: 10px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }

        .post-actions a:hover {
            text-decoration: underline;
        }

        .create-post-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }

        .create-post-link:hover {
            text-decoration: underline;
        }
        .btn3{
            height: 35px;
            width: 100px;
            background-color: #007bff;
            color: white;
            border-radius: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li class="post-card">
                <strong class="user">@<%= post.username %>:</strong>
                <div class="post-content"><%= post.content %></div>
                <div class="post-actions">
                    <a href="http://localhost:3000/posts/<%= post.id %>">See In Details</a>
                    <a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit Your Post</a>
                </div><br>
                <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn3">Delete Post</button>
                </form>
                
                
            </li>

        <% }); %>
    </ul>
    <a class="create-post-link" href="http://localhost:3000/posts/new">Create New Post</a>
</body>
</html>
